<div class="jumbotron">
    <div class="container" id="search">

        <!-- Search -->
        <div class="row">
            <div class="col-md-12">
                <h1>LibrarySearch</h1>
                <form role="form" id="frmSearch">
                  <div class="form-group">
                    <label for="txtQuery"></label>
                    <input type="text" class="form-control" id="txtQuery" placeholder="Enter query">
                  </div>
                  <button type="submit" data-loading-text="Fetching results..." class="btn btn-primary btn-lg">Submit</button>
                </form>
            </div> 
        </div>
    </div>
</div>
