<%- include global/head.ejs %>

    <section>
        <div class="container">
            <h4>Results for <strong><%= query %></strong></h4>
            <% if (results.length) { %>
            <ul>
            <% for(var i=0; i<results.length; i++) {%>
               <li><%= results[i] %></li>
            <% } %>
            </ul>
            <% } %>
        </div>
    </section>

<%- include global/foot.ejs %>
