#frmSearch .dropdown-toggle, #frmSearch .dropdown-menu li a{
    text-transform: capitalize;
}

#frmSearch #dpd-numrecords button{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

#frmSearch #dpd-numrecords .dropdown-toggle{
    min-width: 70px;
}

#frmSearch #dpd-type .dropdown-toggle{
    min-width: 120px;
}

/* Bootstrap fix */
.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
}

.row .result-sort, .row .filters, .col-error {
    padding-top: 10px;
}

span.thumbnail {
    display: block;
    min-height: 100px;
    max-width: 90px;
}

li.item {
    list-style: none;
}

h5.item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
