<form role="form" id="frmSearch">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-btn" id="dpd-type">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="pull-right"><span class="type">All</span> <span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu">
                    <li data-name="all"><a href="#">All</a></li>
                    <li class="divider"></li>
                    <% for(var i=0; i<Object.keys(types).length; i++) { %>
                       <li data-name="<%= Object.keys(types)[i] %>" title="<%= Object.keys(types)[i] %>"><a href="#"><%= Object.keys(types)[i] %></a></li>
                    <% } %>
                </ul>
            </div>
            <div class="input-group-btn" id="dpd-numrecords">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="pull-right"><span class="numrecords">10</span> <span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu">
                    <li data-name="10" title="10"><a href="#">10</a></li>
                    <li data-name="25" title="25"><a href="#">25</a></li>
                    <li data-name="50" title="50"><a href="#">50</a></li>
                    <li data-name="100" title="100"><a href="#">100</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" id="txtQuery" placeholder="Enter query" value="<%= query %>">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
        </div>
    </div>
</form>
