<div class="jumbotron">
    <div class="container" id="search">
        <!-- Search -->
        <div class="row">
            <div class="col-md-12">
                <h1>LibrarySearch</h1>
                
                <!-- Form -->
                <%- form %>
            </div> 
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Aquabrowser</h3>
            <p>Lorem ipsum</p>
        </div>
        <div class="col-md-4">
            <h3>Summon</h3>
            <p>Lorem ipsum</p>
        </div>
        <div class="col-md-4">
            <h3>DSpace</h3>
            <p>Lorem ipsum</p>
        </div>
    </div>
</div>
